<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>hello 大家好,我是渣渣辉</h1>
    <div>
        你是<%= count%>号注册用户,是兄弟就来啃我
    </div>
    <a href="/second">跳转到第二页</a>
</body>
</html>